# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include timelapse.cfg]
[include moonraker_obico_macros.cfg]
[include shell_command.cfg]
#[include KAMP_Settings.cfg]
[exclude_object]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop #^PA7
#position_endstop: 0.0
position_max: 250
position_min: -3

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -45.0
y_offset: -10
#z_offset: 1.460
samples: 1
speed: 2

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm z_hop_speed: 5
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15,15
mesh_max: 188, 191
probe_count: 5,5
mesh_pps: 2,2 #number of points to interpret between each probing point
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#[screws_tilt_adjust]
#screw1_name: front left screw
#screw1: 70.5,37.5
#screw2_name: front right screw
#screw2: 230.5,37.5
#screw3_name: rear right screw
#screw3: 230.5,207.5
#screw4_name: rear left screw
#screw4: 70.5,207.5
#horizontal_move_z: 10
#speed: 250
#screw_thread: CW-M4

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3 #!E_DIR_PIN or E_DIR_PIN
enable_pin: !PC3
microsteps: 16
gear_ratio: 3:1
rotation_distance: 19.4 #Standard user settings (Not Klipper?) - 8.0 or 7.8
nozzle_diameter: 0.400
full_steps_per_rotation: 200
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for MicroSwiss NG @ 210 degrees celcius
#pid_kp = 25.415
#pid_ki = 1.284
#pid_kd = 125.806
min_temp: 0
max_temp: 300
pressure_advance: 0.05 # tuned for pa6-cf

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 60 degree Celsius target
#pid_Kp= 70.595 
#pid_Ki= 1.188
#pid_Kd= 1048.343
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 40 #Microswiss NG | #38.46 @ 4000 accel w/ stock extruder
shaper_type_x: mzv
shaper_freq_y: 50.6 #Microswiss NG | #40 @ 4000 accel w/ stock extruder
shaper_type_y: mzv

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

#[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.012500, 0.015000, 0.015000, 0.080000, 0.187500
#*# 	0.007500, -0.012500, -0.020000, 0.007500, 0.055000
#*# 	-0.077500, -0.087500, -0.105000, -0.072500, -0.032500
#*# 	0.027500, -0.055000, -0.085000, -0.097500, -0.067500
#*# 	0.135000, 0.002500, -0.065000, -0.065000, -0.047500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 188.0
#*# min_y = 15.0
#*# max_y = 191.0
#*#
#*# [bltouch]
#*# z_offset = 3.100
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.021
#*# pid_ki = 1.236
#*# pid_kd = 126.669
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.761
#*# pid_ki = 1.089
#*# pid_kd = 1117.044
